<html lang="en">
    <%- include('./partials/head',{title: 'add-task'}) %> 
<body>
    <%- include('./partials/nav.ejs') %>
        <div class="main">
            
            <div class="form-container">
        <span>Add a new task</span><br><br>
        <form action="/tasks/" method="post">
        
            <label for="title"><b>Title:</b></label>
            <input type="text" name="title" id="title" placeholder="Add New Title" required /><br><br>
    
        
            <label for="description"><b>Description:</b></label>
            <textarea id="description" name="description"  placeholder="Add a description"row="3" cols="20" required></textarea><br><br>
        
            
            <label for="start"><b>Deadline:</b></label>
                <input type="date" id="start" name="deadline" placeholder="dd-mm-yyyy"  min="2024-12-01" max="2030-12-31">
        
            <br><br>
            <label for="priority"><b>Priority</label></b>
            <select id="priority" name="priority">
                <option value="low">low</option>
                <option value="medium">medium</option>
                <option value="high">high</option>
                </select>
            <br><br>
    
            
            <button class="submit-btn" type= "submit">Add Task</button>
        </form>

        
    </div>
        
        
        
        </div>
        <%- include('./partials/footer.ejs') %>
    
    </div>
   
</body>
</html>