<html>
<head>
<title>Home Page</title>

<link href= "/assets/home.css" rel= "stylesheet" type= "text/css" />

		

</head>
<body>
    
        
    <div id="container">
        <nav>
            <ul>
               
                <li><a  href="/users/login/">Login</a></li>
                <li><a  href="/users/">Signup</a></li>
            </ul>
        
    
        </nav>
</div>

<div class="main">
      <div class="h">     <h1>Organize<br> your life <br>with <br>Task Manager</h1></div> 
      <div class="h">     <h4>improves your decision-making, communication, efficiency and effectiveness of your task or project.</h4></div> 
       
        
</div>
<div class="h">     <a  href="/users/login/"><button>Get Started</button></a>  <br><br>
    
      
   
 
<footer> copyright &copy; kbtech 2025</footer>
</body>

</html>
